body {
  font-family: 'Lato', sans-serif;
  color: #2d3c49;
  font-weight: 400;
}

a, a:hover {
  text-decoration: none;
  color: grey;
}

header {
  margin: 20px 0 30px;
}

hr {
  background-color: #7d97ad;
  border: 0 none;
  color: #7d97ad;
  height: 4px;
}


@media screen and (max-width: 768px) {
  #feature-text {
    text-align: center;
  }
  .logo {
    text-align: center;

  }
  #super-text {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    padding-top: 25px;
    padding-left: 40px;
  }

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.feature-img {
  width: 300px;
  height: auto;
}

.text-muted {
  color: #7d97ad;
}

.text-thin {
  font-weight: 100;
}

.title-logo {
  max-width: 50px;
}

.title-super {
  font-size: 60px;
  letter-spacing: 0.1em;
}
